:root {
  --yellow-color: #ffb400;
  --white-color: #ffffff;
  --icon-bg: #2b2a2a;
  --body-bg: #111111;
}
.contact {
  animation-name: contact;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  transition: all 0.4s;
}
@keyframes contact {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
.contact h1 {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 6rem;
  -webkit-text-stroke: 2px white;
  -webkit-text-fill-color: white;
}
.contact h1 span {
  -webkit-text-stroke: 2px var(--yellow-color);
  -webkit-text-fill-color: var(--yellow-color);
}

/* send button design */
.message-section form {
  background-color: hsl(240, 10%, 3.9%);
  margin-bottom: 150px;
  padding: 1rem;
}
.message-section button {
  width: 250px;
  height: 50px;
  border-radius: 25px;
  border: 2px solid var(--yellow-color);
  background-color: var(--body-bg);
  color: hsl(240, 5%, 64.9%);
  margin-top: 2rem;
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
  padding-right: 60px;
  padding-left: 20px;
  z-index: 1;
  overflow: hidden;
  transition: all 0.4s;
  /* margin-bottom: 150px; */
}
.message-section button i {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--yellow-color);
  border-radius: 25px;
  font-size: 1.4rem;
  transition: all 0.4s;
}
.message-section button::before {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 0;
  background-color: var(--yellow-color);
  content: "";
  border-radius: 25px;
  z-index: -1;
  transition: all 0.4s;
}
.message-section button:hover::before {
  width: 100%;
}
/* send button design */
.message-section input {
  background-color: var(--icon-bg);
  border: none;
  height: 50px;
  border-radius: 25px;
  color: hsl(240, 5%, 64.9%);
}
.message-section input::placeholder,
.message-section form textarea::placeholder {
  color: silver;
  text-transform: lowercase;
}
.message-section input:focus,
.message-section form textarea:focus {
  background-color: #2b2a2a;
  color: rgba(255, 255, 255, 0.837);
  outline-color: var(--yellow-color) !important;
}
.message-section form textarea {
  background-color: var(--icon-bg);
  border-radius: 20px;
  border: none;
  color: rgba(255, 255, 255, 0.837);
}
.message-section form label {
  color: hsl(240, 5%, 64.9%);
  text-transform: capitalize;
  font-size: 1rem;
}

.address-section {
  padding: 2rem;
}
.address > h2 {
  color: white;
  color: hsl(240, 5%, 64.9%);
  font-size: 1.4rem;
  -webkit-text-stroke: 1px white;
  -webkit-text-fill-color: white;
  margin-bottom: 1rem;
}
.address > p {
  color: hsl(240, 5%, 64.9%);
  line-height: 2;
}
.address .my-address {
  display: flex;
  gap: 1rem;
}
.address .my-address h3 {
  color: hsl(240, 5%, 64.9%);
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.716);
}
.my-address .icon-sec i {
  color: var(--yellow-color);
  font-size: 2rem;
}
.desc-sec p {
  color: hsl(240, 5%, 64.9%);
}
.address button {
  border: none;
  margin-right: 1rem;
  margin-top: 2rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--icon-bg);
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.address button i {
  color: white;
}
.address button::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  content: "";
  background-color: var(--yellow-color);
  z-index: -1;
  transition: all 0.4s;
}
.address button:hover::before {
  width: 100%;
}
